<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
<h1 id="automotrices">Seguros Automotrices</h1>
<br>
<div class="container overflow-hidden text-center">
    <div class="row gy-5">
      <div class="col-6">
        <div class="p-3"><h2><i class="fas fa-motorcycle"></i><br>Seguros para Motocicleta</h2>
            
            <!--i class="fas fa-file"></i> Cobertura --> <br>
            <br>
            <div class="botonLlamar">
               
              <a target="_blank" href="https://wa.me/56999134493?text=Quiero-Asegurar-mi-Moto">Hablemos Ahora! <i class="fab fa-whatsapp bigIcon"></i></a>
            </div>
        </div>
      </div>
      <div class="col-6">
        <div class="p-3"><h2><i class="fas fa-car"></i><br>Seguros para Automoviles</h2>
            <div mat-raised-button (click)="openDialog()">
              <i class="fas fa-file"></i> Cobertura 
            </div>

            <br>
            <br>
            <div class="botonLlamar">
               
              <a target="_blank" href="https://wa.me/56999134493?text=Quiero-un-Seguro-para-mi-Auto">Hablemos Ahora! <i class="fab fa-whatsapp bigIcon"></i></a>
            </div>
        </div>
      </div>
      <div class="col-6">
        <div class="p-3"><h2><i class="fas fa-truck-moving"></i><br>Vehiculos Pesados</h2>
           
            <!--i class="fas fa-file"></i> Cobertura <br>-->
            <br>
            <div class="botonLlamar">
               
              <a target="_blank" href="https://wa.me/56999134493?text=Quiero-un-Seguro-para-Vehiculo-Pesado-O-Carga">Hablemos Ahora! <i class="fab fa-whatsapp bigIcon"></i></a>
            </div>
        </div>
      </div>
      <div class="col-6">
        <div class="p-3"><h2><i class="fa fa-life-ring"></i> <br>S.O.A.P 2024</h2>
            
              <!--i class="fas fa-file"></i> Cobertura -->
            <br><br>
            <div class="botonLlamar">
               
             <a target="_blank" href="https://wa.me/56999134493?text=Quiero-el-SOAP"> Hablemos Ahora! <i class="fab fa-whatsapp bigIcon"></i></a>
            </div>
        </div>
      </div>
    </div>
  </div>

  <!--



https://www.liberty.cl/nuestros-seguros/seguros-para-empresas
https://www.liberty.cl/nuestros-seguros/otros-seguros
https://www.liberty.cl/nuestros-seguros/seguro-de-hogar



  -->