<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
<h1 id="automotrices">Encuentra tu Seguro</h1>
<br>
<div class="container overflow-hidden text-center">
    <div class="row gy-5">
      <div class="col-6">
        <div class="p-3"><h2><img alt="" class="iconosvg" src="assets/icons/18.svg"><br>Seguros para Motocicleta</h2>
          <div mat-raised-button (click)="openDialogForMotocicletas()">
            <i class="fas fa-file"></i> Cobertura 
          </div>
            <!--i class="fas fa-file"></i> Cobertura --> <br>
            <br>
            <div class="botonLlamar">
               
              <a target="_blank" href="https://wa.me/56999134493?text=Quiero-Asegurar-mi-Moto">Hablemos Ahora! <i class="fab fa-whatsapp bigIcon"></i></a>
            </div>
        </div>
      </div>
      
      <!-- automotriz.component.html -->
<div class="col-6">
  <div class="p-3">
    <h2><img alt="" class="iconosvg" src="assets/icons/13.svg"><br> Seguros Automotrices</h2>
    <div mat-raised-button (click)="openDialogForAutomotriz()">
      <i class="fas fa-file"></i> Cobertura
    </div>
    <br><br>
    <div class="botonLlamar">
      <a target="_blank" href="https://wa.me/56999134493?text=Quiero-Seguros-Automotrices">
        Hablemos Ahora! <i class="fab fa-whatsapp bigIcon"></i>
      </a>
    </div>
  </div>
</div>



      <div class="col-6">
        <div class="p-3"><h2><img alt="" class="iconosvg" src="assets/icons/19.svg"><br>Vehiculos Pesados</h2>
          <div mat-raised-button (click)="openDialogForVehiculosPesados()">
            <i class="fas fa-file"></i> Cobertura 
          </div>
            <br>
            <div class="botonLlamar">
               
              <a target="_blank" href="https://wa.me/56999134493?text=Quiero-un-Seguro-para-Vehiculo-Pesado-O-Carga">Hablemos Ahora! <i class="fab fa-whatsapp bigIcon"></i></a>
            </div>
        </div>
      </div>
      <div class="col-6">
        <div class="p-3"><h2><img alt="" class="iconosvg" src="assets/icons/26.svg"> <br>S.O.A.P 2024</h2>
          <div mat-raised-button (click)="openDialogForSOAP()">
            <i class="fas fa-file"></i> Cobertura 
          </div>
              <!--i class="fas fa-file"></i> Cobertura -->
            <br>
            <div class="botonLlamar">
               
             <a target="_blank" href="https://wa.me/56999134493?text=Quiero-el-SOAP"> Hablemos Ahora! <i class="fab fa-whatsapp bigIcon"></i></a>
            </div>
        </div>
      </div>



      <!-- mascotas.component.html -->
<div class="col-6">
  <div class="p-3">
    <h2><img alt="" class="iconosvg" src="assets/icons/20.svg"><br>Seguros para Mascotas</h2>
    <div mat-raised-button (click)="openDialogForMascotas()">
      <i class="fas fa-file"></i> Cobertura
    </div>
    <br><br>
    <div class="botonLlamar">
      <a target="_blank" href="https://wa.me/56999134493?text=Quiero-Seguros-para-Mascotas">
        Hablemos Ahora! <i class="fab fa-whatsapp bigIcon"></i>
      </a>
    </div>
  </div>
</div>

<!-- hogar.component.html -->
<div class="col-6">
  <div class="p-3">
    <h2><img alt="" class="iconosvg" src="assets/icons/25.svg"><br>Seguros de Hogar</h2>
    <div mat-raised-button (click)="openDialogForHogar()">
      <i class="fas fa-file"></i> Cobertura
    </div>
    <br><br>
    <div class="botonLlamar">
      <a target="_blank" href="https://wa.me/56999134493?text=Quiero-Seguros-de-Hogar">
        Hablemos Ahora! <i class="fab fa-whatsapp bigIcon"></i>
      </a>
    </div>
  </div>
</div>


<!-- construccion.component.html -->
<div class="col-6">
  <div class="p-3">
    <h2><img alt="" class="iconosvg" src="assets/icons/24.svg"><br>Seguros de Construcción</h2>
    <div mat-raised-button (click)="openDialogForConstruccion()">
      <i class="fas fa-file"></i> Cobertura
    </div>
    <br><br>
    <div class="botonLlamar">
      <a target="_blank" href="https://wa.me/56999134493?text=Quiero-Seguros-de-Construcción">
        Hablemos Ahora! <i class="fab fa-whatsapp bigIcon"></i>
      </a>
    </div>
  </div>
</div>

<!-- accidentes-personales.component.html -->
<div class="col-6">
  <div class="p-3">
    <h2><img alt="" class="iconosvg" src="assets/icons/14.svg"><br>Seguros de Accidentes Personales</h2>
    <div mat-raised-button (click)="openDialogForAccidentesPersonales()">
      <i class="fas fa-file"></i> Cobertura
    </div>
    <br><br>
    <div class="botonLlamar">
      <a target="_blank" href="https://wa.me/56999134493?text=Quiero-Seguros-de-Accidentes-Personales">
        Hablemos Ahora! <i class="fab fa-whatsapp bigIcon"></i>
      </a>
    </div>
  </div>
</div>
<!-- rci-internacional.component.html -->
<div class="col-6">
  <div class="p-3">
    <h2><img alt="" class="iconosvg" src="assets/icons/17.svg"><br>Seguros de RCI</h2>
    <div mat-raised-button (click)="openDialogForRCI()">
      <i class="fas fa-file"></i> Cobertura
    </div>
    <br><br>
    <div class="botonLlamar">
      <a target="_blank" href="https://wa.me/56999134493?text=Quiero-Seguros-de-RCI">
        Hablemos Ahora! <i class="fab fa-whatsapp bigIcon"></i>
      </a>
    </div>
  </div>
</div>

<!-- patrimonial.component.html -->
<div class="col-6">
  <div class="p-3">
    <h2><img alt="" class="iconosvg" src="assets/icons/23.svg"><br>Seguros Patrimoniales</h2>
    <div mat-raised-button (click)="openDialogForPatrimonial()">
      <i class="fas fa-file"></i> Cobertura
    </div>
    <br><br>
    <div class="botonLlamar">
      <a target="_blank" href="https://wa.me/56999134493?text=Quiero-información-sobre-seguros-patrimoniales">
        Hablemos Ahora! <i class="fab fa-whatsapp bigIcon"></i>
      </a>
    </div>
  </div>
</div>

<!-- transporte-carga.component.html -->
<div class="col-6">
  <div class="p-3">
    <h2><img alt="" class="iconosvg" src="assets/icons/21.svg"><br>Seguros de Transporte de Carga</h2>
    <div mat-raised-button (click)="openDialogForTransporteCarga()">
      <i class="fas fa-file"></i> Cobertura
    </div>
    <br><br>
    <div class="botonLlamar">
      <a target="_blank" href="https://wa.me/56999134493?text=Quiero-información-sobre-seguros-de-transporte-de-carga">
        Hablemos Ahora! <i class="fab fa-whatsapp bigIcon"></i>
      </a>
    </div>
  </div>
</div>


    </div>
  </div>

  <!--



https://www.liberty.cl/nuestros-seguros/seguros-para-empresas
https://www.liberty.cl/nuestros-seguros/otros-seguros
https://www.liberty.cl/nuestros-seguros/seguro-de-hogar



  -->