<h1 id="nosotros">FB Seguros</h1>
<p><strong>Somos FB Seguros</strong>, una empresa Corredora y Asesora de Seguros Generales y de Vida, con presencia en todo Chile y el extranjero. Nos caracterizamos por ser una Corredora de Seguros transparente y comprometida con sus clientes. Los acompañaremos durante todos los procesos que tenga la gestión de su seguro, desde analizar la cobertura que mas les conviene contratar cotizando en las distintas Compañías Aseguradoras con presencia en nuestro país y el extranjero, hasta el denuncio del siniestro, siendo un aliado excepcional en ese proceso ya que contarás con nosotros para representarte ante cualquier compañía en caso de surgir alguna controversia o problema con el pago de tu indemnización.
    </p>
    <p>
    FB Seguros está correctamente inscrito bajo el Registro N°9615 de la Comisión para el Mercado Financiero de Chile (www.cmfchile.cl), quedando así habilitado en el registro de auxiliares de seguros de dicha institución. Contamos con Póliza de Garantía emitida por la compañía ASPOR.
    </p>
    <p>
    Nuestro compromiso es asesorar de la mejor forma a quien recurra a nuestros servicios, en forma transparente y ágil, teniendo siempre como objetivo principal ser una empresa cercana estrechando los lazos con nuestros clientes y así prolongar en el tiempo nuestra relación con cada uno de ellos.
    Trabajamos con las principales compañías de Seguros que serán tu espalda económica para resguardar tu patrimonio.
</p>
<h2>Te invitamos a disfrutar de la experiencia que significa ser parte de FB Seguros, conoce nuestra amplia gama de ofertas que tenemos para ti.</h2>
<h1>Misión</h1>
<p>
    Somos una Empresa de servicio en el mercado de los Seguros Generales y de Vida, que se caracteriza por su eficiancia, ágilidad y compromiso con sus clientes. Nos distinguimos en ofrecer una amplía gama de coberturas que blindan a quienes confían en nosotros. Contamos con  asesores altamente calificados en el rubro de los seguros que te orientaran de forma completa antes de contratar una cobertura, durante su vigencia y al momento de sufrir cualquier tipo de siniestro. Estaremos a tu disposición ofreciendo tranquilidad, agilidad, eficiencia y solución a cada uno de tus requerimientos.
</p>   
<h1>Visión</h1>
<p>
    Nuestra Visión es ser una empresa del rubro de los Seguros confiable, eficiente y respetada en el mercado asegurador y que nuestros clientes siempre se sientan acompañados, comprendidos y protegidos por nosotros.
</p>
