
<table width="100%">
<tr>
    <th>Contáctanos</th>
    <th>Siguenos en RRSS</th>
    <th rowspan="3">
        <img onclick="location.href='./#'" src="assets/logo-fb0.png"/>
    </th>
</tr>
<tr>
    <td><a target="_blank" href="https://wa.me/56999134493?text=Contactando-desde-La-web"><i class="fab fa-whatsapp bigIcon"></i> +56999134493</a><br>
    </td>
    <td><a target="_blank" href="https://www.facebook.com/share/SNRt19B6jiSUpZjW/?mibextid=qi2Omg"><i class="fab fa-facebook bigIcon"></i> FB Seguros</a>
    </td>

</tr>
<tr>
    <td><a target="_blank" href="https://segurosfb.com"><i class="fas fa-globe bigIcon"></i> www.segurosfb.com</a>
    </td>
    <td><a target="_blank" href="https://www.instagram.com/fbseguros.digital"><i class="fab fa-instagram bigIcon"></i> fbseguros.digital</a>
    </td>

</tr>

</table>